---
---

@import "{{ site.theme }}";

/* Default body styles */
body {
  background-color: white; /* Default background color for light theme */
  color: black; /* Default text color for light theme */
}

/* Default link styles */
a {
  color: blue; /* Default link color */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

/* Light theme styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: white; /* Background color for light theme */
    color: black; /* Text color for light theme */
  }

  a {
    color: blue; /* Link color for light theme */
  }

  table {
    background-color: white; /* Table background for light theme */
    color: black; /* Table text color for light theme */
  }

  th {
    background-color: #f0f0f0; /* Light gray background for table headers */
    color: black; /* Header text color */
  }

  td {
    background-color: white; /* Background color for table cells */
  }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color for dark theme */
  }

  a {
    color: green;
  }

  a:hover {
    color: lightgreen;
  }

  pre {
    color: blue;
  }

  table {
    background-color: #1e1e1e; /* Dark background for table */
    color: #e0e0e0; /* Table text color for dark theme */
  }

  th {
    background-color: #333; /* Darker gray background for table headers */
    color: #e0e0e0; /* Header text color for dark theme */
  }

  td {
    background-color: #1e1e1e; /* Dark background for table cells */
  }
}
