---
---

@import "{{ site.theme }}";

/* Default body styles */
body {
  background-color: white; /* Default background color for light theme */
  color: black; /* Default text color for light theme */
}

/* Default link styles */
a {
  color: blue; /* Default link color */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

/* Light theme styles */
@media (prefers-color-scheme: light) {
  body {
    background-color: white; /* Background color for light theme */
    color: black; /* Text color for light theme */
  }

  a {
    color: blue; /* Link color for light theme */
  }

  table {
    background-color: white; /* Table background for light theme */
    color: black; /* Table text color for light theme */
  }

  th {
    background-color: #f0f0f0; /* Light gray background for table headers */
    color: black; /* Header text color */
  }

  td {
    background-color: white; /* Background color for table cells */
  }

  pre code  {
    background-color: #f0f0f0; /* Light gray background for code blocks */
    color: black; /* Text color for code blocks */
    border-radius: 4px; /* Optional: rounded corners */
    padding: 8px; /* Optional: padding for code blocks */
    overflow-x: auto; /* Ensure horizontal scrolling for long lines */
  }

  ul, ol {
    color: black; /* Text color for lists */
  }
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark background color */
    color: #e0e0e0; /* Light text color for dark theme */
  }

  a {
    color: green;
  }

  a:hover {
    color: lightgreen;
  }

  pre {
    background-color: #000000; /* Dark background for table */
  }

  table {
    background-color: #1e1e1e; /* Dark background for table */
    color: #e0e0e0; /* Table text color for dark theme */
  }

  th {
    background-color: #333; /* Darker gray background for table headers */
    color: #e0e0e0; /* Header text color for dark theme */
  }

  td {
    background-color: #1e1e1e; /* Dark background for table cells */
    color: #e0e0e0; /* Text color for table cells in dark mode */
  }

  pre code {
    background-color: white; /* Dark background for code blocks */
    color: black; /* Light text color for code blocks */
    border-radius: 4px; /* Optional: rounded corners */
    padding: 8px; /* Optional: padding for code blocks */
    overflow-x: auto; /* Ensure horizontal scrolling for long lines */
  }

  ul, ol {
    color: #e0e0e0; /* Light text color for lists in dark mode */
  }

  h6 {
    color: #FFFFFF; /* White heading color for dark theme */
    font-weight: bold; /* Optional: Ensure heading stands out */
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Optional: Add shadow for better contrast */
  }

  h3 {
    color: #FFFFFF; /* White color for h3 headings */
  }
}
